* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

section.signup__form__container {
  background: url("./assets/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.form__container {
  width: 90%;
  height: 90%;
}

.text__container {
  width: 100%;
  text-align: center;
}

.inputs__container {
  width: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 19px;
  font-weight: 500;
}

.ad__element {
  background-color: #5d54a3;
  margin-bottom: 36px;
}

.ad__new__line {
  display: block;
}

input {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  padding: 20px;
  background-color: white;
  text-indent: 10px;
  /* background: url("./assets/icon-error.svg") no-repeat 250px; */
  padding-right: 20px;
}

input::placeholder {
  color: hsl(248, 32%, 49%);
  font-weight: 500;
}

input:focus {
  outline: none;
}

form.form > p {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
}

.submit-btn {
  background-color: hsl(154, 59%, 51%);
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  color: hsl(246, 25%, 77%);
  text-align: center;
}

.footer__text__new__line {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.terms {
  color: hsl(0, 100%, 74%);
  font-size: 14px;
  font-weight: 500;
}
