* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 300px;
  border: 1px solid grey;
  padding: 80px 30px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

input {
  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}
