section.signup__form__container {
  background: url('./assets/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

input {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
}
